<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMUBTg-D5y-24Tu_fbqKTUGsPpiiYJxEc</string>
	<key>GCM_SENDER_ID</key>
	<string>907519681656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diweFlutter</string>
	<key>PROJECT_ID</key>
	<string>fire-diwe</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-diwe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907519681656:ios:a59d0f25efae2853c9398d</string>
</dict>
</plist>